.section_mypage{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 36px;
    font-weight: bold;
}

.mypage_text{
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
}

.mypage_link{
    background-color: red;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 25px;
    padding: 15px;
    width: 100%;
}